/***********************************
             FOOTER
***********************************/
.footer {
    width: 100%;
    color: $tercerary-clr;
    background-image: linear-gradient(180deg, $primary-clr, $secondary-clr);
    margin-top: 2rem;

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background-image: linear-gradient(60deg,
        $primary-clr,
        #d0a4fe, 
        $accent-clr);
    }

&__wrapper {
    padding-block: 2rem;
    display: grid;
    grid-template-areas: 
    'copyright'
    'social-media';
    place-items: center; 
}

&__copyright-container {
    grid-area: copyright;
}

&__social-continer {
    grid-area:social-media;
}

&__social__list {
    list-style-type: none;
    padding-left:0;
    margin-left:0;
    display: flex;
    gap: .5rem;
}

&__social__item {
    padding: .25rem;
    font-size: 1.5rem;
}

@media  all and (min-width:720px) {
    &__wrapper {
        grid-template-areas: 
        'copyright . . social-media';
    }

}


}